<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- 提取公共部分 -->
    <util:list id="list">
        <value>mayikt01</value>
        <value>mayikt02</value>
    </util:list>

    <!--对list公共部分进行提取 util-->
    <bean id="stuEntity" class="com.mayikt.entity.StuEntity"
          p:list-ref="list"/>
</beans>
